---
import Layout from "../layouts/Layout.astro";
import Preloader from "../components/Preloader.astro";
import Particles from "../components/Particles.astro";
import Nav from "../components/Nav.astro";
import HomePage from "../components/main/HomePage.astro";
import SolutionsPage from "../components/main/SolutionsPage.astro";
import CalculateurPage from "../components/main/CalculateurPage.astro";
import BlogPage from "../components/main/BlogPage.astro";
import AvisPage from "../components/main/AvisPage.astro";
import AproposPage from "../components/main/AproposPage.astro";
import ContactPage from "../components/main/ContactPage.astro";
import MentionsPage from "../components/main/MentionsPage.astro";
import ConfidentialitePage from "../components/main/ConfidentialitePage.astro";
import Footer from "../components/Footer.astro";
import Toast from "../components/Toast.astro";
---

<Layout>
  <Preloader />
  <Particles />
  <Nav />

  <main class="page-wrap relative z-10" :class="pageLeaving?'page-fade':''">
    <HomePage />
    <SolutionsPage />
    <CalculateurPage />
    <BlogPage />
    <AvisPage />
    <AproposPage />
    <ContactPage />
    <MentionsPage />
    <ConfidentialitePage />
  </main>

  <Footer />
  <Toast />
</Layout>
